{% extends "modelo_html.html" %}

{% block content %}
<div class="container"><br>
    <div class="row align-items-center justify-content-center">
        <div class="col-md-4 border-redor">
            <h1 class="centralizar-titulo">Cadastre-se</h1>
            <form action="" method="POST" novalidate>
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <label 
                        for="exampleInputName1"
                    >{{ form.nome.label }}</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        name="nome" 
                        id="exampleInputName1"
                    >
                    {% for error in form.nome.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">{{ form.email.label }}</label>
                    <input 
                        type="email" 
                        class="form-control" 
                        id="exampleInputU1" 
                        name="email"
                        aria-describedby="emailHelp"
                    >
                    <small 
                        id="emailHelp" 
                        class="form-text text-muted"
                    >Nós nunca compartilharemos suas credenciais com
                        ninguém.
                    </small>
                    {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <label 
                        for="exampleInputPassword1"
                    >{{ form.senha.label }}</label>
                    <input 
                        type="password" 
                        class="form-control" 
                        name="senha" 
                        id="exampleInputPassword1"
                    >
                    {% for error in form.senha.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <label 
                        for="exampleInputPassword2"
                    >{{ form.confirmar_senha.label }}</label>
                    <input 
                        type="password" 
                        class="form-control" 
                        name="confirmar_senha" 
                        id="exampleInputPassword2"
                    >
                    {% for error in form.confirmar_senha.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>

                <button 
                    type="submit" 
                    name="cadastrar" 
                    class="btn btn-primary"
                >{{ form.cadastrar.label }}</button>
            </form>

            <div class="dropdown-divider"></div>
            
            <a class="dropdown-item" href="{{ url_for('login') }}">Já é cadastrado? Acesse sua conta</a>
            <a class="dropdown-item" href="#">Esqueceu a senha?</a>
            <br>
        </div>
    </div><br>
</div>
{% endblock %}