{% extends "modelo_html.html" %}

{% block script_adicional %}
<script src="../static/js/gerenciar_estoque/adicionar_produto/adicionar_categoria.js"></script>
<script src="../static/js/gerenciar_estoque/adicionar_produto/remover_categoria.js"></script>
{% endblock %}

{% block content %}
<div class="accordion" id="accordionExample">
	<div class="card bg-success sem-border-radius">
		<div class="card-header" id="headingOne">
			<button class="btn btn-dark bg-success espaco-externo" data-toggle="collapse" data-target="#lista-produtos"
				aria-expanded="true" aria-controls="lista-produtos">
				<img src="../static/img/outline_list_black_24dp.png" class="align-self-center" alt="Listar Produtos"
					title="Listar Produtos" />
				<span class="fonte-preta">Listar Produtos</span>
			</button>
		</div>

		<div id="lista-produtos" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
			<div class="card-body bg-light">
				<div class="container">
					{% if produtos != None and produtos|length != 0 %}
					<div class="row align-items-center justify-content-center">
						{% for p in produtos %}
						<div class="col-3 teste">
							<div class="card fonte-preta">
								<div class="row">
									<div class="col text-right">
										<h5><span class="badge badge-secondary md-8">{{ p.quantidade }}</span></h5>
									</div>
								</div>

								<img class="card-img-top espaco-interno img-fluid rounded mx-auto d-block w-30"
									src="../static/img/{{ p.imagem }}" alt="{{ p.descricao }}">

								<div class="dropdown-divider"></div>

								<h5 class="centralizar-titulo">{{ p.descricao }}</h5>

								<div class="dropdown-divider"></div>

								<h3 class="card-text text-center">
									{{ "R$ %.2f"|format(p.preco|float) | replace(".", ",") }}
								</h3>

								<div class="dropdown-divider"></div>

								<div class="nav espaco-interno justify-content-center">
									{% for cp in p.categorias_produto %}
									<span class="badge-pill bg-warning espaco-interno espaco-externo"> {{ cp.nome }}</span>
									{% endfor %}
								</div>

								<div class="dropdown-divider"></div>

								<nav class="navbar navbar-expand-md bg-faded justify-content-center">
									<ul class="navbar-nav w-100 justify-content-center">
										<li class="nav-item">
											<a class="btn btn-outline-success espaco-externo icone-borda-redonda espaco-interno"
												href="{{ url_for('editar_produto', id = p.id) }}">
												<img src="../static/img/outline_edit_black_18dp.png"
													class="align-self-center img-fluid rounded mx-auto d-block"
													alt="Editar Produto" title="Editar Produto" />
											</a>
										</li>

										<li class="nav-item">
											<a class="btn btn-outline-success espaco-externo icone-borda-redonda espaco-interno"
												href="{{ url_for('deletar_produto', id = p.id) }}">
												<img src="../static/img/outline_delete_black_18dp.png"
													class="align-self-center img-fluid rounded mx-auto d-block"
													alt="Deletar Produto" title="Deletar Produto" />
											</a>
										</li>
									</ul>
								</nav>
							</div>
						</div>
						{% endfor %}
					</div>
					{% elif produtos|length == 0 %}
					<div class="row">
						<div class="col teste">
							<h2 class="centralizar-titulo fonte-preta">Ainda não há produtos cadastrados.</h2>
						</div>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	<div class="card bg-success sem-border-radius">
		<div class="card-header" id="headingTwo">
			<button class="btn btn-dark bg-success collapsed espaco-externo" data-toggle="collapse"
				data-target="#form-adicionar-produto" aria-expanded="false" aria-controls="form-adicionar-produto">
				<img src="../static/img/outline_add_black_24dp.png" class="align-self-center" alt="Adicionar Produto"
					title="Adicionar Produto" />
				<span class="fonte-preta">Adicionar Produtos</span>
			</button>
		</div>

		<div id="form-adicionar-produto" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
			<div class="card-body fundo-branco">
				<div class="container"><br>
					<div class="row align-items-center justify-content-center">
						<div class="col-md-4 bg-success espaco-interno fonte-preta borda-preta borda-redonda">
							<h2 class="centralizar-titulo">Cadastrar novo produto</h2>
							<form action="" method="POST" enctype="multipart/form-data">
								{{ form.hidden_tag() }}
								<input type="hidden" name="categorias_selecionadas" value="" />
								<div class="form-group">
									<label for="exampleInputDescricao1">
										{{ form.descricao.label }}
									</label>
									<input type="text" class="form-control" id="exampleInputDescricao1"
										name="descricao">
									{% for error in form.descricao.errors %}
									<span style="color: red;">
										[{{ error }}]
									</span>
									{% endfor %}
								</div>

								<div class="form-group">
									<label for="exampleInputQuantidade1">
										{{ form.quantidade.label }}
									</label>
									<input type="text" class="form-control" name="quantidade"
										id="exampleInputQuantidade1">
									{% for error in form.quantidade.errors %}
									<span style="color: red;">
										[{{ error }}]
									</span>
									{% endfor %}
								</div>

								<div class="form-group">
									<label for="exampleInputPreco1">
										{{ form.preco.label }}
									</label>
									<input type="text" class="form-control" name="preco" id="exampleInputPreco1">
									{% for error in form.preco.errors %}
									<span style="color: red;">
										[{{ error }}]
									</span>
									{% endfor %}
								</div>

								<div class="form-group">
									<label for="exampleInputImagem1">
										Imagem do Produto
									</label>
									<input type="file" class="form-control-file" name="imagem" id="exampleInputImagem1">
								</div>

								<div class="dropdown-divider"></div>

								<h4 id="todas-categorias" class="text-center">Todas as Categorias</h4>

								<div id="menu-adicionar-categoria" class="nav espaco-interno justify-content-center espaco-abaixo-10">
									{% for c in categorias %}
									<span class="badge-pill bg-warning espaco-interno espaco-externo espaco-externo-vertical-10"> {{ c.nome }}
										<button type="button" id="botao_{{ c.id }}" name="adicionar" class="badge badge-light bg-light">
											V
										</button>
										<input type="hidden" name="{{ c.nome }}" value="{{ c.id }}" />
									</span>
									{% endfor %}
								</div>

								<button type="submit" name="cadastrarProduto" class="btn btn-dark btn-block">
									Cadastrar Produto
								</button>
							</form>
						</div>
					</div><br>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}