{% extends "modelo_html.html" %}

{% block content %}
<!-- ====================================================================================================== -->
		<!-- <form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="search" placeholder="Procurar" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0 mudanca-cor" type="submit">Procurar</button>
		</form> -->
<div class="container">
    {% if produtos != None and produtos|length != 0 %}
    <div class="row align-items-center justify-content-center">
        {% for p in produtos %}
        <div class="col-3 teste">
            <div class="card">
                <div class="row">
                    <div class="col text-right">
                        <h5><span class="badge badge-secondary md-8">{{ p.quantidade }}</span></h5>
                    </div>
                </div>

                <img class="card-img-top espaco-interno img-fluid rounded mx-auto d-block w-30"
                    src="../static/img/{{ p.imagem }}" alt="{{ p.descricao }}">

                <div class="dropdown-divider"></div>

                <h5 class="centralizar-titulo">{{ p.descricao }}</h5>

                <div class="dropdown-divider"></div>

                <h3 class="card-text text-center">
                    {{ "R$ %.2f"|format(p.preco|float) | replace(".", ",") }}
                </h3>

                <div class="dropdown-divider"></div>

                <div class="nav espaco-interno justify-content-center">
                    {% for cp in p.categorias_produto %}
                    <span class="badge-pill bg-warning espaco-interno espaco-externo espaco-abaixo-10"> {{ cp.nome }}</span>
                    {% endfor %}
                </div>
                
                {% if not url.startswith('user') %}
                <div class="dropdown-divider"></div>
                {% endif %}

                {% if user.tipo == 2 or not user %}
                <div class="col">
                    <a href="#" class="btn btn-danger btn-block espaco-abaixo-10">Adicionar ao Carrinho</a>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}