{% extends "modelo_html.html" %}

{% block content %}
<div class="container">
    {% for i in range(0, 5) %}
    <div class="row">
        {% for i in range(0, 4) %}
        <div class="col teste">
            <div class="card">
                <img 
                    class="card-img-top espaco-interno" 
                    src="../static/img/outline_add_a_photo_black_48dp.png"
                    alt="Card image cap"
                >
                
                <div class="dropdown-divider"></div>
                
                <div class="card-body">
                    <h5 class="card-title centralizar-titulo">Nome do Produto</h5>
                    <p class="card-text">Descrição.</p>
                    
                    <div class="dropdown-divider"></div>
                    
                    <p class="card-text">R$ Preço.</p>
                    <a href="#" class="btn btn-danger btn-block">Adicionar ao Carrinho</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}