{% extends "modelo_html.html" %}

{% block content %}
<div class="container">
    {% if produtos != None and produtos|length != 0 %}
    <div class="row align-items-center justify-content-center">
        {% for p in produtos %}
        <div class="col-3 teste">
            <div class="card">
                <div class="row">
                    <div class="col text-right">
                        <h5><span class="badge badge-secondary md-8">{{ p.quantidade }}</span></h5>
                    </div>
                </div>

                <img class="card-img-top espaco-interno img-fluid rounded mx-auto d-block"
                    src="../static/img/{{ p.imagem }}" alt="{{ p.descricao }}">

                <div class="dropdown-divider"></div>

                <div class="card-body">
                    <h5 class="card-title centralizar-titulo">{{ p.descricao }}</h5>

                    <div class="dropdown-divider"></div>

                    <br />
                    <h3 class="card-text text-center">{{ "R$ %.2f"|format(p.preco|float) | replace(".", ",") }}</h3>

                    {% if user.tipo == 2 or not user %}
                    <br />
                    <a href="#" class="btn btn-danger btn-block">Adicionar ao Carrinho</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}