{% block link_adicional %}
<link rel="stylesheet" type="text/css" href="../static/css/modelo.css">
{% endblock %}

{% extends "modelo_html.html" %}

{% block script_adicional %}
<!-- <script src="../static/js/padronizar_descricao/padronizar_descricao.js"></script> -->
<!-- <script src="../static/js/modificar_quantidades_produtos/modificar_quantidades_produtos.js"></script> -->
<!-- <script src="../static/js/carrinho/adicionar_carrinho.js"></script> -->
{% endblock %}

{% block content %}
<div class="container-fluid sem-espacos-internos"><br>
    {% for c in lista_compras %}
    <div class="row espaco-interno-10">
        <div class="col text-center">
            <h3> Compra do dia {{ c.data }} </h3>
        </div>
    </div>

    <div class="row">
        <div class="col">

        </div>
        <div class="col">

        </div>
    </div>

    <div class="dropdown-divider"></div>
    {% endfor %}
</div>
{% endblock %}