<html>

<head>
	{% if title %}
	<title> {{ title }} </title>
	{% else %}
	<title> Welcome to Home Page </title>
	{% endif %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>

	<style>
		.teste {
			margin-top: 10px;
			margin-bottom: 10px;
		}

		.espaco-interno {
			padding: 30px;
		}

		.centralizar-titulo {
			text-align: center;
		}

		.mudanca-cor {
			background-color: #dc3545;
			border-color: #dc3545;
			color: #fff;
		}

		.mudanca-cor:hover {
			background-color: #c82333;
			border-color: #c82333;
		}

		.sem-border-radius {
			border-radius: 0;
			color: #fff;
		}

		.border-redor {
			border: 1px solid #ccc;
			border-radius: 10px;
		}
	</style>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="{{ url_for('index') }}">Ecommerce</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="{{ url_for('index') }}">Página Inicial<span
							class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Categorias
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">Celulares</a>
						<a class="dropdown-item" href="#">Informática</a>
						<a class="dropdown-item" href="#">Jogos</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Todos os Produtos<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Contato<span class="sr-only">(current)</span></a>
				</li>
			</ul>

			<!-- ====================================================================================================== -->
			<!-- FAZER LOGIN -->
			{% if url == '' or url == 'index' or url == 'user' %}
			<div class="dropdown">
				<a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					{% if user %}
					{{ user.nome }}
					{% else %}
					Fazer Login
					{% endif %}
				</a>

				<div class="dropdown-menu dropdown-menu-right">
					{% if not user %}
					<form class="px-3 py-2" action="" method="POST" novalidate>
						{{ form.hidden_tag() }}
						<div class="form-group">
							<label for="exampleDropdownFormEmail1">{{ form.email.label }}</label>
							<input type="email" name="email" class="form-control" id="exampleDropdownFormEmail1"
								placeholder="email@example.com">
						</div>
						<div class="form-group">
							<label for="exampleDropdownFormPassword1">{{ form.senha.label }}</label>
							<input type="password" name="senha" class="form-control" id="exampleDropdownFormPassword1"
								placeholder="Senha">
						</div>
						<div class="form-group">
							<div class="form-check">
								<input type="checkbox" name="lembrar_me" class="form-check-input" id="dropdownCheck">
								<label class="form-check-label" for="dropdownCheck">
									{{ form.lembrar_me.label }}
								</label>
							</div>
						</div>
						<button type="submit" name="acessar" class="btn btn-primary">Acessar</button>
					</form>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="{{ url_for('cadastrar') }}">Não tem uma conta? Cadastre-se</a>
					<a class="dropdown-item" href="#">Esqueceu a senha?</a>
					{% elif user.tipo == 2 %}
					<a class="dropdown-item" href="#">Minhas compras</a>
					<a class="dropdown-item" href="#">Meus dados</a>
					{% elif user.tipo == 1 %}
					<a class="dropdown-item" href="#">Gerenciar Estoque</a>
					<a class="dropdown-item" href="#">Gerenciar Cadastros</a>
					<a class="dropdown-item" href="#">Relatórios</a>
					<!-- <a class="dropdown-item" href="#"></a> -->
					<a class="dropdown-item" href="{{ url_for('logout') }}">Sair</a>
					{% endif %}
				</div>
			</div>
			{% endif %}
		</div>
		
		<!-- ====================================================================================================== -->
		<!-- <form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="search" placeholder="Procurar" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0 mudanca-cor" type="submit">Procurar</button>
		</form> -->
	</nav>

	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<div class="container">
		{% for message in messages %}
		<div class="alert alert-success alert-dismissible fade show" role="alert">
			{{ message }}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		{% endfor %}
	</div>
	{% endif %}
	{% endwith %}

	{% block content %}{% endblock %}

	<div class="card text-center bg-dark sem-border-radius">
		<div class="card-header">
			Todos os direitos reservados à joao.vitoor.batista@gmail.com
		</div>
		<div class="card-body">
			<h5 class="card-title">Ecommerce</h5>
			<a href="#" class="btn btn-primary">Ir para Todos os Produtos</a>
		</div>
	</div>
</body>

</html>